<div class="container" ng-controller="SearchDBCtrl as ctrl">

    <div class="page-header">
        <h1>Grocery Management System
            <small>SearchDB</small>
        </h1>
    </div>

    <form name="queryForm" novalidate class="form-inline">
        <div class="form-group">
            <input id="searchString" class="form-control" size="50" type="text" name="searchString" ng-model="ctrl.searchString" placeholder="Enter brand or product name">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info form-control" ng-disabled="queryForm.$invalid" ng-click="ctrl.search()">
                Search Brand or Product Name
            </button>
        </div>
    </form>
    <hr>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Product ID</th>
                <th>UPC12</th>
                <th>Brand</th>
                <th>Product Name</th>

            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="product in ctrl.result">
                <!--use url to change state & pass parameters -->
                <td>
                    <a ui-sref="editWithParams({id: product.id})">{{product.id}}</a>
                </td>
                <td><img src = "http://www.barcodes4.me/barcode/c128a/{{ product.upc12 }}.png?IsTextDrawn=1 "> </td>
                            
                <td>{{ product.brand }}</td>
                    
                <td>{{ product.name }}</td>
                
            </tr>
        </tbody>
    </table>
</div>